<h1 class="page-header text-uppercase text-center">Who we are</h1>

<p>
    The need for a product that promotes health in our feathered athletes, without the use of medication, 
    has been apparent for some time.
</p>
<p>
    We are a company dedicated to avian health and performance, and we're the "new kids on the block." For the past three
    years we have been testing a great blend of probiotics, vitamins and electrolytes. During this time the overall health
    of the birds has been incredible. In all that time, we haven't had a green dropping. The birds sparke and feathers are
    soft.
</p>
<p>
    EZ Avian Health Products is proud to introduce this great product to the racing pigeon community.
</p>