<h1 class="page-header text-uppercase text-center">Product information</h1>

<p>
    With Pro-B- Boost we have achieved a product that is easily administered, maintains
    a high level of protection against coccidiosis and has been proven to be effective in
    the treatment of the Adeno Virus. By using Pro-B- Boost at the first signs of the
    Adeno Virus, the birds recovery time will be shortened, and most importantly,
    without the use of antibiotics.
</p>
<p>
    In addition to the benefits of a highly effective Pro Biotic, Pro-B- Boost has the added
    benefits of the vitamins and electrolytes necessary for the high performance we
    require of our birds.
</p>
<p>
    There is no need to mix and match. Everything is in one package. The Vitamins, the
    Electrolytes, and the Pro Biotic.
</p>
<p>
    The ease of administration is awesome. One teaspoon per gallon with great
    solubility. We recommend using Pro-B- Boost only four or five days per week. Use
    the day before shipping, the day of shipping, race day, and the day after the race. We
    also recommend using one day mid week as a pick me up.
</p>
<p>
    Regular use promotes soft feather, improved droppings, increased appetite, and a
    definite improvement in the attitude of the birds.
</p>
<p>
    One package treats 50 birds for 45 days. This is based on the average bird
    consumption of one gallon per fifty birds. In the breeding loft, feeding babies, the
    per bird consumption will be greater. In some warmer climates the per bird water
    consumption will be higher and conversely per bird consumption will be lower in
    colder climates.
</p>
<p>
    Pro-B- Boost is a product the racing pigeon fancier cannot afford to be without.
</p>

<h2 class="page-header text-uppercase text-center">Why use supplements?</h2>

<p>
    A traditional all-grain diet cannot supply all of the pigeon's vitamin requirements. It is important for the fancier
    to provide the nutrients that are lacking. This is especially important in the stock loft where these nutrients are
    most needed for egg formation and robust young bird development in the nest.
</p>
<p>
    The use of probiotics in the water reduces the chances of coccidiosis damage to the intestinal tract. When this tract
    is damaged, the ability to asbord nutrients is considerably reduced. It is a fact that the need for additional vitamins
    increases during the stress of racing, breeding, and aging.
</p>
